<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - User Authentication</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
    <div>
        <div>
            <div>
                <h1>Welcome to the Login Portal</h1>
            </div>
            <p>Please enter your user credentials.</p>
            <form method="post" action="login">
                <label for="username">Username</label>
                <input type="text" name="username" required><br>
                <label for="password">Password</label>
                <input type="text" name="password" required><br>
                <input type="submit" value="Login">
            </form>
            {% with messages = get_flashed_messages(with_categories = true) %}
            {% for category, message in messages %}
            <div>
                <p>{{ category }}: {{ message }}</p>
            </div>
            {% endfor %}
            {% endwith %}
        </div>
    </div>
</body>

</html>